


    {% extends "base.html" %}
    {% block title %}TEST{% endblock %}
    
    {% block content %}
    <div id="calc">
        <form action="/calc">
            <input placeholder="num1" name="num1">
            <input placeholder="num2" name="num2"><br>
            <input type="radio" name="options" id="option1" value="option1"> Add </input><br>
            <input type="radio" name="options" id="option2" value="option2"> Subtract </input><br>
            <input type="radio" name="options" id="option3" value="option3"> Multiply </input><br>
            <input type="radio" name="options" id="option3" value="option4"> Devide </input><br>
            <button>Submit!</button>
        </form>
    </div>
    {% endblock %}
    
    



l>